.layout__left
  width: 33vw
  display: inline-block
  padding: $m*4 0
.layout__right
  width: 66vw
  display: inline-block
  float: right
  padding: $m*4 0

.layout__right .page__content
  width: 33vw
  max-width: 100%
  max-height: calc(100vh - #{$m*12})
  overflow-y: scroll
  padding-right: $m/2
