{# Site front page #}
{% extends 'layouts/layout-twocol.html' %}
{% load static i18n %}

{% block htmltitle %}{% trans 'Hola!' %}{% endblock %}

{% block body_classes %}page--front{% endblock %}
{% block layout_classes %}layout--front{% endblock %}

{% block left %}
<div class="page__sidebar page__sidebar--front">
    {% include 'components/block-landing-info.html' %}
</div>
{% endblock %}

{% block right %}
<div class="page__content page__content--front">
    {% include 'components/block-about.html' %}
</div>
{% endblock %}
